body{
	position:relative;
	padding:0;
	margin:0;
	height:100vh;
	background:#707070;
}
.appHeader{
	width:315px;
	margin:0 auto;
	padding-top:1px;
}
.costBtn{
	width:50%;
	background:#494d54;
	color:#fff;
	height:25px;
	border:0;
	border:1px solid #fc9f12;
	border-radius:5px;
	font-size:17px;
}
.costBtn:focus{
	outline:none;
}
.statisticsBtn{
	width:50%;
	background:#494d54;
	color:#fff;
	height:25px;
	border:0;
	border:1px solid #fc9f12;
	border-radius:5px;
	font-size:17px;
}
.statisticsBtn:focus{
	outline:none;
}
.costTitle{
	color:#ededed;
	text-align:center;
	margin-bottom:5px;
	margin-top:10px;
}
.costInfo{
	color:#ededed;
	font-size:18px;
	text-align:center;
	margin-top:0;
	margin-bottom:10px
}
.statTitle{
	color:#ededed;
	text-align:center;
	margin-bottom:5px;
	margin-top:10px;
}
.statInfo{
	color:#ededed;
	font-size:18px;
	text-align:center;
	margin-top:0;
	margin-bottom:10px
}
.cost{
	display:flex;
	width:340px;
	justify-content:space-around;
	background:#494d54;
	color:#fff;
	border-radius:5px;
	padding:5px;
	border:1px solid #fabb34;
	margin-bottom:10px;
}
.costList{
	padding:0;
	width:350px;
	margin:0 auto;
}
.costItem{
	list-style: none;
	margin-bottom:10px;
	margin:0 auto;
}
.dateTime{
	display:block;
	text-align: center;
}
.dateTime:first-child{
	font-size:17px;
	border-bottom:2px solid #fc9f12;
}
.dateTime:last-child{
	font-size:15px;
}
.costValue{
	font-size:20px;
	margin:0;
	align-self:center;
}
.valute{
	color:#fc9f12;
	font-size:22px;
}
.costWrap{
	display:flex;
}
.categoryWrap{
	text-align:center;
}
.costCategory{
	display:block;
	font-size:13px;
	margin:0;
	align-self:center;
	max-width:120px;
}
.costCategoryImg{
	display: block;
	color:#fc9f12;
	font-size:25px;
}
.categoryList{
	width: 350px;
	margin:10px auto;
	display:flex;
	flex-wrap:wrap;
}
.fontAwesomIcons{
	display:block;
	font-size:65px;
	text-align: center;
	color:#fc9f12;
}
.categoryItem{
	border:1px solid #fc9f12;
	padding:10px;
	text-align: center;
	font-size:20px;
	width:90px;
	height:90px;
	margin:1px;
	background:#494d54;
	color:#fff;
	border-radius:5px;
	cursor:pointer;
	/* ОТМЕНА ВЫДЕЛЕНИЯ */
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition:all 0.2s ease;
}
.categoryItem > span{
	display:block;
	margin-top:7px;
	font-size:19px;
}
.selectIcon{
	position:absolute;
	color:#68fca8;
	font-size:21px;
}
.costInput{
	padding:5px 10px;
	width:350px;
	height:16px;
	border:1px solid #fc9f12;
	background:#494d54;
	border-radius:5px;
	color:#e6e6e6;
	font-size:18px;
	display: block;
	margin:0 auto;
}
.costInput:focus{
	outline:none;
}
.addBtn{
	display:block;
	width:350px;
	height:40px;
	margin:15px auto;
	border-radius:5px;
	border:1px solid #fc9f12;
	background:#494d54;
	color:#e6e6e6;
	font-size: 24px;
}
.addBtn:focus{
	outline:none;
}

/*STATISTICS*/ 

.statList{
	padding:0;
	/* ОТМЕНА ВЫДЕЛЕНИЯ */
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition:all 0.2s ease;

}
.statListItem{
	list-style:none;
	margin-bottom:10px;
}
.statisticsItem{
	display:flex;
	width:340px;
	padding:10px 0;
	justify-content:space-around;
	background:#494d54;
	border-radius:5px;
	border:1px solid #fc9f12;
	margin:0 auto;
	margin-bottom:5px;
}
.statCategoryImg{
	font-size:35px;
	color:#fabb34;
}
.statCost{
	font-size:20px;
	display:flex;
	align-self:center;
	color:#e6e6e6;
}
.statCtg{
	font-size:20px;
	display:flex;
	align-self:center;
	color:#e6e6e6;
}
.statList{
	width:340px;
	margin:0 auto;
}
.detailItem{
	width:280px;
	margin:0 auto;
}
.detail-ul-list{
	list-style: none;
	padding:0px;
}
.removeBtn{
	display:block;
	width:350px;
	height:40px;
	border-radius:5px;
	margin:5px auto;
	border:1px solid #494d54;
	/*background:#494d54;*/
	background:#42b3f5;
	color:#fafafa;
	font-size: 24px;
}
.removeBtn:focus{
	outline:none;
}

@media screen and (min-width:319px){
	.costList{
		width:320px;
	}
	.categoryList{
		width:283px;
	}
	.fontAwesomIcons{
		font-size:45px;
	}
	.categoryItem{
		width:70px;
		height:70px;
	}
	.selectIcon{
		font-size:18px;
	}
	.costInput{
		width:270px;
	}
	.addBtn{
		width:285px;
	}
	.costItem{
		margin-bottom:5px;
		width:292px;
	}
	.cost{
		width:280px;
	}
	.statList{
		width:320px;
	}
	.statisticsItem{
		width:300px;
	}
	.detailItem{
		width:290px;
	}
	.detailList{
		width:320px;
	}
	.removeBtn{
		width:280px;
	}
}

@media screen and (min-width:479px){
	.appHeader{
		width:475px;
	}
	.costBtn{
		height:35px;
		font-size:19px;
	}
	.statisticsBtn{
		height:35px;
		font-size:19px;
	}
	.costList{
		width:480px;
	}
	.categoryList{
		width:405px;
	}
	.fontAwesomIcons{
		font-size:75px;
	}
	.categoryItem{
		width:110px;
		height:110px;
	}
	.categoryItem > span{
		font-size:21px;
	}
	.selectIcon{
		font-size:20px;
	}
	.costInput{
		height:22px;
		width:410px;
		font-size:24px;
	}
	.addBtn{
		width:410px;
		height:40px;
		font-size:30px;
	}
	.costItem{
		margin-bottom:5px;
		width:412px;
	}
	.cost{
		width:400px;
		height:50px;
	}
	.dateTime:first-child{
		font-size:20px;
	}
	.dateTime:last-child{
		font-size:18px;
	}
	.costValue{
		font-size:22px;
	}
	.valute{
		font-size:26px;
	}
	.costCategoryImg{
		font-size:30px;
	}
	.costCategory{
		font-size:15px;
	}
	.statList{
		width:480px;
	}
	.statisticsItem{
		width:455px;
	}
	.statCategoryImg{
		font-size:40px;
	}
	.statCost{
		font-size:25px;
	}
	.statCtg{
		font-size:24px;
	}
	.detailItem{
		width:410px;
	}
	.detailList{
		width:410px;
		margin:0 auto;
	}
	.removeBtn{
		width:340px;
	}
}
@media screen and (min-width:719px){
	.appHeader{
		width:520px;
	}
	.costBtn{
		height:40px;
		font-size:22px;
	}
	.statisticsBtn{
		height:40px;
		font-size:22px;
	}
	.costTitle{
		font-size:30px;
	}
	.costInfo{
		font-size:20px;
	}
	.statInfo{
		font-size:20px;
	}
	.statTitle{
		font-size:30px;
	}
	.costList{
		width:610px;
	}
	.categoryList{
		width:405px;
	}
	.fontAwesomIcons{
		font-size:75px;
	}
	.categoryItem{
		width:110px;
		height:110px;
	}
	.categoryItem > span{
		font-size:26px;
	}
	.selectIcon{
		font-size:22px;
	}
	.costInput{
		height:24px;
		width:420px;
		font-size:26px;
	}
	.addBtn{
		width:450px;
		height:60px;
		font-size:30px;
	}
	.costItem{
		margin-bottom:5px;
		width:442px;
	}
	.cost{
		width:430px;
		height:60px;
	}
	.dateTime:first-child{
		font-size:26px;
	}
	.dateTime:last-child{
		font-size:21px;
	}
	.costValue{
		font-size:28px;
	}
	.valute{
		font-size:32px;
	}
	.costCategoryImg{
		font-size:40px;
	}
	.costCategory{
		font-size:19px;
	}
	.statList{
		width:480px;
	}
	.statisticsItem{
		width:480px;
	}
	.statCategoryImg{
		font-size:45px;
	}
	.statCost{
		font-size:30px;
	}
	.statCtg{
		font-size:29px;
	}
	.detailItem{
		width:440px;
	}
	.detailList{
		width:440px;
		margin:0 auto;
	}
	.removeBtn{
		width:400px;
		height:50px;
		font-size:32px;
	}
}

/*@media screen and (min-width:1079px){
	.appHeader{
		width:820px;
	}
	.costBtn{
		height:65px;
		font-size:45px;
	}
	.statisticsBtn{
		height:65px;
		font-size:45px;
	}
	.costTitle{
		font-size:50px;
	}
	.costInfo{
		font-size:35px;
	}
	.statInfo{
		font-size:35px;
	}
	.statTitle{
		font-size:50px;
	}
	.costList{
		width:820px;
	}
	.categoryList{
		width:735px;
	}
	.fontAwesomIcons{
		font-size:155px;
	}
	.categoryItem{
		width:220px;
		height:220px;
	}
	.categoryItem > span{
		font-size:40px;
	}
	.selectIcon{
		font-size:35px;
	}
	.costInput{
		height:50px;
		width:800px;
		font-size:36px;
	}
	.addBtn{
		width:770px;
		height:80px;
		font-size:65px;
	}
	.costItem{
		margin-bottom:5px;
		width:825px;
	}
	.cost{
		width:810px;
		height:100px;
		border-radius:15px;
	}
	.dateTime:first-child{
		font-size:45px;
	}
	.dateTime:last-child{
		font-size:35px;
	}
	.costValue{
		font-size:50px;
	}
	.valute{
		font-size:55px;
	}
	.costCategoryImg{
		font-size:70px;
	}
	.costCategory{
		font-size:28px;
	}
	.statList{
		width:880px;
	}
	.statisticsItem{
		padding:15px 0;
		width:880px;
		border-radius:10px;
	}
	.statCategoryImg{
		font-size:85px;
	}
	.statCost{
		font-size:55px;
	}
	.statCtg{
		font-size:55px;
	}
	.detailItem{
		width:820px;
	}
	.detailList{
		width:830px;
		margin:0 auto;
	}
	.removeBtn{
		width:820px;
		height:90px;
		font-size:75px;
		border-radius:15px;
	}
}*/